<app-menu [page]="'Student'"></app-menu>


<div class="ui container " style="padding:20px;">



  <div class="ui segment grid">
    <div class="ui active dimmer" *ngIf="!studentInfo && !studentEvents">
      <div class="ui indeterminate text loader">Loading</div>
    </div>
    <div class="five wide column center aligned">
      <div class="ui card ">
        <div class="image">
          <img [src]="luckyImage">
        </div>
        <div class="content" *ngIf="studentInfo">
          <a class="header">{{studentInfo.name}}</a>
          <div class="meta">
            <span class="date">{{studentInfo.id}}</span>
          </div>
          <div class="description">
            {{studentInfo.course}}
            <br>
            {{studentInfo.year}}
          </div>
        </div>

      </div>
    </div>

    <div class="eleven wide column">
      <h3 class="ui header center aligned">Events</h3>
      <div class="ui raised segment"
        *ngFor="let event of studentEvents | paginate: { itemsPerPage: 4, currentPage: p }">
        <a class="ui ribbon label"
          [ngClass]="{'red': event.amount != event.paid, 'green': event.amount == event.paid}">{{event.amount == event.paid ? 'Paid': 'Unpaid'}}</a>

        <span style="font-weight:bold;font-size:1.2em">{{event.name}}</span>
        <div class="ui list">
          <div class="item">
            Full Payment: {{event.amount}}
          </div>
          <div class="item">Paid: {{event.paid}}</div>
          <div class="item">Balance: {{event.balance}}</div>
        </div>

      </div>

      <pagination-controls *ngIf="studentEvents" style="float:right" (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>