@import url('https://fonts.googleapis.com/css?family=Staatliches');
h4,h5{
    margin:0;
    font-family: 'Staatliches', cursive;
}
h3{
    margin: 0 0 0 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.printContent{
    width:940px;
    height:100vh;
    page-break-inside:avoid !important;
}




@media print {
    #message{
        color:black;
    }
    #print_header{
        letter-spacing:0.2em;font-weight: bold;color:grey !important; 
    }
    .ui.progress {
        background-image: none;
        -webkit-print-color-adjust: exact;
        box-shadow: inset 0 0;
        -webkit-box-shadow: inset 0 0;
      
      
      }
    
      h4,h5{
        font-family: 'Staatliches', cursive;
    }
      h3{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
    html, body {
      /*changing width to 100% causes huge overflow and wrap*/
      height:100%; 
      background: #FFF; 
      font-size: 9pt;
      font-family: Staatliches;
    }
   
    
  

  }

  .onepage {
    page-break-after: always;
  }
  
  .onepage:last-child {
    page-break-after: avoid;
  }


.center{
  text-align: center;
}




 .containerBox {
    position: relative;
    text-align: center;
    color: black;
}
.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
