<div class="ui top attached demo menu">
  <a class="item" (click)="sidebar.toggle()">
    <i class="sidebar icon"></i> Menu
  </a>
</div>
<sui-sidebar-container class="ui bottom attached segment">
  <sui-sidebar class="inverted vertical" #sidebar>
    <app-admin-sidebar></app-admin-sidebar>
  </sui-sidebar>
  <sui-sidebar-sibling [isDimmedWhenVisible]="true">
    <br>
    <div class="ui container segment" style="padding:15px;">
      <div class="ui active dimmer" *ngIf="isLoading">
        <div class="ui text loader">Loading</div>
      </div>

      <button class="ui button blue" style="float:right;margin-bottom:15px;" (click)="isAddingAccount = true;">Add New
        Account</button>

      <table class="ui celled table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Type</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: p }">
            <td>{{user.username}}</td>
            <td>{{user.pwd}}</td>
            <td>{{user.type}}</td>
            <td>
              <button class="ui button green" (click)="selectedAccount = user; isUpdatingAccount = true;">
                Update Account
              </button>
              <button class="ui button red" (click)="deleteUser(user.user_id);">
                Delete
              </button>
            </td>
          </tr>

        </tbody>
      </table>
      <pagination-controls style="float:right" (pageChange)="p=$event">
      </pagination-controls>
    </div>


  </sui-sidebar-sibling>
</sui-sidebar-container>


<sui-modal *ngIf="isAddingAccount" [isClosable]="false" (dismissed)="isAddingAccount = false;" #modal>
  <div class="header">New Account</div>
  <div class="ui segment">


    <div class="content">
      <form #f="ngForm" class="ui form" (ngSubmit)="addNewAccount(f)" novalidate>
        <div class="field">
          <label for="">Username</label>
          <input type="text" name="username" ngModel required #username="ngModel">
        </div>
        <div class="field">
          <label for="">Password</label>
          <input type="text" name="pwd" ngModel required #pwd="ngModel">
        </div>

        <button class="ui red button" (click)="isAddingAccount = false;">Cancel</button>
        <button class="ui green button" style="float:right" type="submit" autofocus>Submit</button>
      </form>

    </div>
    <div class="ui active dimmer" *ngIf="isModalLoading">
      <div class="ui text loader">Loading</div>
    </div>
  </div>

</sui-modal>



<sui-modal *ngIf="isUpdatingAccount" [isClosable]="false" (dismissed)="isUpdatingAccount = false;" #modal>
  <div class="header">Update Account</div>
  <div class="ui segment">


    <div class="content">
      <div class="ui form" novalidate>
        <div class="field">
          <label for="">Username</label>
          <input type="text" name="username" [(ngModel)]="selectedAccount.username">
        </div>
        <div class="field">
          <label for="">Password</label>
          <input type="text" name="pwd" [(ngModel)]="selectedAccount.pwd">
        </div>
        <button class="ui red button" (click)="isUpdatingAccount = false;">Cancel</button>
        <button class="ui green button" style="float:right" (click)="updateAccount();" autofocus>Submit</button>
      </div>

    </div>
    <div class="ui active dimmer" *ngIf="isModalLoading">
      <div class="ui text loader">Loading</div>
    </div>
  </div>

</sui-modal>