<div class="ui active dimmer" *ngIf="isLoading">
  <div class="ui text loader">Loading</div>
</div>
<div class="ui success message" *ngIf="addStudentSuccess">
  <div class="header">
    Student(s) Added
  </div>
  <p>Students List Updated</p>
</div>

<div class="ui success message" *ngIf="deletedStudentSuccess">
  <div class="header">
    Student Removed
  </div>
  <p>Students List Updated</p>
</div>
<h2>Students</h2>

<button class="ui blue button" (click)="isAddingStudent = true;">Add New Student</button>
<div style="text-align:right">
  <div class="ui left icon input" [ngClass]="{'disabled': isAcadStudentsEmpty}">
    <input type="text" placeholder="Enter Std No Or Name" (keyup.enter)="search(keyword.value)" #keyword>
    <i class="users icon"></i>
  </div>
</div>
<h2 style="text-align:center;font-weight:bold;" *ngIf="isAcadStudentsEmpty">{{emptyMessage}}
</h2>
<table class="ui celled table" *ngIf="!isAcadStudentsEmpty">
  <thead>
    <tr>
      <th>Student Id</th>
      <th>Name</th>
      <th>Course</th>
      <th>Year</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let acadStudent of acadStudents | paginate: { itemsPerPage: 10, currentPage: studentPage, id:'ay_std' }">
      <td>{{acadStudent.id}}</td>
      <td>{{acadStudent.name}}</td>
      <td>{{acadStudent.course}}</td>
      <td>{{acadStudent.year}}</td>
      <td>
        <button class="ui button green" (click)="viewPayment(acadStudent.ay_student_id)">View Payments</button>
        <button class="ui button red" (click)="removeStudent(acadStudent.ay_student_id)">Delete</button>
      </td>

    </tr>

  </tbody>

</table>
<pagination-controls *ngIf="!isAddingStudent" id="ay_std" style="float:right" (pageChange)="studentPage=$event">
</pagination-controls>

<sui-modal *ngIf="isAddingStudent" [isClosable]="false" (dismissed)="isAddingStudent = false;" #modal>
  <div class="ui active dimmer" *ngIf="isAddingLoading">
    <div class="ui text loader">Loading</div>
  </div>
  <div class="header">
    <span>Students</span>
    <button class="ui blue button" style="float:right" (click)="toggleAll()">Toggle All Students</button>
  </div>
  <div class="content">
    <div class="ui form">
      <div class="grouped fields">
        <div class="field"
          *ngFor="let student of students | paginate: { itemsPerPage: 10, currentPage: addingStudentPaging, id:'std' }">
          <sui-checkbox [(ngModel)]="student.isChecked">
            {{student.name}}
          </sui-checkbox>
        </div>
      </div>
    </div>

  </div>
  <div class="actions">
    <pagination-controls style="float:left" id="std" (pageChange)="addingStudentPaging=$event">
    </pagination-controls>
    <button class="ui red button" (click)="isAddingStudent = false;">Cancel</button>
    <button class="ui green button" (click)="addStudents();" autofocus>OK</button>
  </div>
</sui-modal>




<sui-modal *ngIf="isViewingStudentEvents" [isClosable]="false" (dismissed)="isViewingStudentEvents = false;" #viewModal>
  <div class="ui success message" *ngIf="paymentSuccessMsg">
    <div class="header">
      Payment Submitted
    </div>
    <p>List of events is updated</p>
  </div>
  <div class="header">Payments</div>
  <div class="content segment">
    <div class="ui active dimmer" *ngIf="isViewingLoading">
      <div class="ui text loader">Loading</div>
    </div>

    <table class="ui celled table">
      <thead>
        <tr>
          <th>Event Name</th>
          <th>Term</th>
          <th>Full Amount</th>
          <th>Balance</th>
          <th>Paid</th>
          <th colspan="2">Payment</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let event of selectedStudentEvents.events">
          <td>{{event.name}}</td>
          <td>{{event.term}}</td>
          <td>{{event.amount}}</td>
          <td>{{event.balance}}</td>
          <td>{{event.paid}}</td>
          <td>
            <div class="ui input" style="margin-right:10px;">
              <input type="number" placeholder="Enter the amount" #amt>
            </div>
            <button class="ui button green" (click)="submitPayment(event, amt.value);">
              Submit Payment
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="actions">
    <button class="ui red button" (click)="isViewingStudentEvents = false;">Cancel</button>
    <button class="ui green button" (click)="addStudents();" autofocus>OK</button>
  </div>
</sui-modal>